@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Smooth scrolling & global styles */
* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
  }