@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.App{
    /* padding-top:30px; */
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}
:root {
    --primary-red: #D32F2F;
    --dark-gray: #333333;
    --white: #FFFFFF;
    --gold-accent: #FFC107;
  }
  